fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
pydantic
pydantic-settings
email-validator
httpx
slowapi
limits
greenlet
python-dotenv
alembic
aiofiles
jinja2
python-slugify
