fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.1.7
python-multipart
greenlet
slowapi
aiofiles
psycopg2-binary
aiosqlite
email-validator
